@model IEnumerable<Drink>
    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <h1>List Drinks</h1>
    
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                    @foreach (var drink in Model)
                    {
                        @await Html.PartialAsync("_DrinkPartialView", drink)
                    }
            </div>
        </div>
    </div>
